<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.gavinandre.dao.NormalMaterialDao">

    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.java.gavinandre.pojo.NormalMaterial">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="count" property="count"/>
        <result column="price" property="price"/>
        <result column="is_update" property="isUpdate"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        id as nid,
        name,
        count,
        price,
        is_update
    </sql>

    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.name != null">name,</if>
            <if test="pojo.count != null">count,</if>
            <if test="pojo.price != null">price,</if>
            <if test="pojo.isUpdate != null">is_update,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.name != null">#{pojo.name},</if>
            <if test="pojo.count != null">#{pojo.count},</if>
            <if test="pojo.price != null">#{pojo.price},</if>
            <if test="pojo.isUpdate != null">#{pojo.isUpdate},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO material(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.count},
            #{pojo.price},
            #{pojo.isUpdate}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE material
        <set>
            <if test="pojo.id != null">id = #{pojo.id},</if>
            <if test="pojo.name != null">name = #{pojo.name},</if>
            <if test="pojo.count != null">count = #{pojo.count},</if>
            <if test="pojo.price != null">price = #{pojo.price},</if>
            <if test="pojo.isUpdate != null">is_update = #{pojo.isUpdate}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT
        <include refid="all_column"/>
        FROM material
        <where>
            AND monster_id = 0
            <if test="pojo!=null">
                <if test="pojo.id != null">AND id = #{pojo.id}</if>
                <if test="pojo.name != null">AND name = #{pojo.name}</if>
                <if test="pojo.count != null">AND count = #{pojo.count}</if>
                <if test="pojo.price != null">AND price = #{pojo.price}</if>
                <if test="pojo.isUpdate != null">AND is_update = #{pojo.isUpdate}</if>
            </if>
        </where>
    </select>

    <!--auto generated Code-->
    <delete id="delete">
        DELETE FROM material
        WHERE id = #{pojo.id}
    </delete>
</mapper>
